@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Exo 2', sans-serif;
}

input:invalid {
    border: 2px dashed red;
}

input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
    border: 2px solid black;
}

.content {
    display: flex;
}
.panel {
    display: flex;
    flex:1;
    flex-direction: column;
    border: 1px dotted black
}